.mapa{
  background-image: url("https://preview.ibb.co/ndst6J/mapa_Fondov2.png");
}

.textoAlarma{
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

.nombreRow {
    text-align: center;
}

#mapaRow {
    display: flex;
    justify-content: center;
}

#menuBar {
    display: flex;
    justify-content: center;
}

#menuBarDiv {
    display: flex;
    justify-content: center;
    margin-top: 1%;
    margin-bottom: 1%;
}

#menuBarDiv .btn {
    margin-left: 1%;
    margin-right: 1%;
}

.itemRow {
    margin: auto;
    display: block;
}